.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* home.css */

/* home.css */

.home-container {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

.navbar {
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.welcome-image-container {
  text-align: center;
  margin-bottom: 2rem;
}

.welcome-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.welcome-image:hover {
  position: relative;
}
.welcome-image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  transition: background-image 0.3s ease-in-out;
}
.welcome-message {
  text-align: center;
  margin-bottom: 2rem;
}

.welcome-header {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 36px;
}

.action-buttons {
  margin-top: 2rem;
  text-align: center;
}

.feature-items {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.feature-item {
  text-align: center;
  margin-bottom: 2rem;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.feature-item h3 {
  margin-top: 1rem;
  font-size: 24px;
}

.feature-item svg {
  font-size: 36px;
  margin-bottom: 10px;
}

.footer {
  background-color: #333;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}

.nav-link:hover {
  background-color: #8dc8df;
  color: #e9e9ed;
  transition: background-color 0.3s ease;
}
.navbar-brand:hover{
  background-color:  #8dc8df;
  transition: background-color 0.9s ease;
}